@page "/kvs"
@inject HttpClient Http
@inject IAccessTokenProvider TokenProvider
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>KVs</PageTitle>

<h1>KVs</h1>

<p>This component demonstrates fetching KV data from and to the server.</p>

@if (kvs == null)
{
    <p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Key</th>
				<th>Value</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var kv in kvs)
			{
				<tr>
					<td><i class="bi bi-pencil cursor-pointer"></i></td>
					<td>@kv.Key</td>
					<td>@kv.Value</td>
					<td><i class="bi bi-trash3 cursor-pointer" @onclick="() => DeleteAsync(kv)"></i></td>	
				</tr>
			}
		</tbody>
	</table>
}

@code {
    private KV[]? kvs;
	private KV? kv;

    protected override async Task OnInitializedAsync()
    {
		kvs = await Http.GetFromJsonAsync<KV[]>("kvs");
    }

    async Task DeleteAsync(KV item)
    {		
		kv = await Http.DeleteFromJsonAsync<KV>("kvs");
    }
}